.blue {
  background: blue;
  display: inline;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

#onlyp {
  font-size: 30px;
}

.red {
  background: red;
  font-size: 32px;
  display: block;
  font-weight: bold;
}

body {
  background: pink;
}
