body {
  padding: 10px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Helvetica Neue;
}

sans-serif {
  line-height: 1.5;
  font-size: 10px;
}

#grid {
  background: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#grid div {
  width: 100px;
  height: 100px;
}

#grid div:nth-child(2n) {
  background: red;
}

#grid div:nth-child(2n + 1) {
  background: blue;
}
