h1 {
  width: 200px;
  height: 200px;
  background: green;
}

aside {
  width: 150px;
  height: 150px;
  background: blue;
  border-radius: 50%;
}

div {
  width: 250px;
  height: 250px;
  background: red;
}
